@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');


/*
#56d3d3
#409e9e
*/

:root {
    --cor0: #8227d6;
    --cor1: #a752f7;
    --cor3: #dbb5ff;
    --cor4: #008BC7;
    --cor5: #1099d4;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

header {
    background-color: white;
    text-shadow: 1px -1px 3px rgb(214, 214, 214);
    font-size: 0.9em;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 1px 8px rgb(80, 80, 80);
}

#site_title {
    background-color: var(--cor0);
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 1.3em;
    display: block;
    padding:  0.3em 0.6em 0.5em 0.6em; 
    border-right: 1px solid rgb(196, 196, 196);
    text-shadow: 1px -1px 3px rgb(92, 92, 92);
}

header li {
    display: inline-block; 
}

header a {
    font-weight: bold;
    font-size: 1.1em;
    color: #8227d6;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: #a752f7;
}

.margin_menu_fotos {
    margin-left: 0.8em;
}

.margin_menu_portifolio {
    margin: 0 0.8em 0 0.8em;
}


main {
    min-width: 250px;
    padding: 20px;
    margin: auto;
    text-align: justify;
    background-color: #1099d4;
    font-size: 1.2em;
    height: 82vh;
}

footer {
    background-color: #272727;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 2px;
    font-size: 0.8em;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: #008BC7;
}
