@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(72, 199, 199);
    height: 35px;
    padding: 1% 15%; 
}

header a>h1 {
    margin-right: 520px;
    padding: 3px 0px 3px 0px;
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    text-align: center;
    /* background-color: rgb(58, 58, 58); */
    width: 150px;
    /* border-radius: 3px 20px 3px 20px; */
}

header li {
    display: inline-block;
    margin-right: 30px;
}

header a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: large;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    
}