@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');


:root {
    --cor0: #8227d6;
    --cor1: #a752f7;
    --cor2: #dbb5ff;
    --cor3: #008BC7;
    --cor4: #1099d4;
}

body {
    background-color: rgb(24,24,24);
    color: white;
    font-family: poppinsregular,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 24, 24);
    padding: 4px 24px;
}

#title {
    font-family: cinzelbold, poppinsbold, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    line-height: 13px;
}

h1 {
    font-size: 2.6em;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:#8227d6;
    transition: 0.3s all;
}

#inscreva-se-btn {
    background-image: linear-gradient(to left, #511786, #8227d6);
    padding: 13px;
    border-radius: 22px;
}

#inscreva-se-btn:hover {
    background-image: linear-gradient(to left, #008BC7,#1099d4);
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(24,24,24);
    margin: 0;
    padding: 14vh 0;
}

main p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    word-spacing: 0.1em;
}

h2 {
    font-size: 3em;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: #8227d6;
}

strong {
    color: #1099d4;
}

img {
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type = "submit"] {
    height: 50px;
    width: 45%;
    background-image: linear-gradient(to right, #511786, #8227d6);
    color: white;
    font-weight: bold;
}

form [type = "submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #611da0, #9525fd);
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}


footer {
    background-image: linear-gradient(to right, #49157a,#651ea7, #8227d6,#1099d4, #008BC7);
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-family: poppinslight;
}

footer a {
    font-family: poppinsmedium;
    text-decoration: none;
    text-align: center;
}

footer p {
    padding: 1px;
    margin: 0;
}

footer a:hover {
    color: var(--cor3);
    transition: 0.3s all;
}
