@media screen and (max-width: 1250px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #title {
        padding-left: 30px;
    }
}