@media screen and (max-width: 990px){

    body{
        padding: 0;
        background-color: rgb(24, 24, 24);
    }

    header {
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 10px;
    }

    header li {
        margin: 10px;
    }
    
    header ul {
        margin: 0px auto;
        margin-top: 20px;
        padding: 0;
    }

    #title {
        text-align: center;
        margin: 20px auto;
    }

    #title h1:last-child {
        margin-bottom: 5px;
    }

    #entre-em-contato-btn {
        padding: 10px;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 205px;
    }

    main p {
        text-align: justify;
        text-indent: 1em;
    }

    form [type = "submit"] {
        align-self: center;
    } 
    /*  Inicio da estilização da página Sobre_mim */
    #bio img {
        margin-top: 5px;
    }

    #bio h2 {
        font-size: 1.4em;
    }

    #bio p {
        text-align: center;
    }

    #content {
        padding: 14px;
    }

    #content h2 {
        font-size: 1.4em;
        margin-bottom: 0;
    }

    #content h3 {
        margin-left: 10px;
    }

    #content p {
        text-indent: 0;
    }

    #english {
        margin-right: 60px;
    }
    
    #french {
        margin-right: 42px;
    }

    .box {
        width: 310px;
        margin-left: 125px;
    }
    
    .box2 {
        width: 250px;
        margin-left: 125px;
    }
    
    .box3 {
        width: 50px;
        margin-left: 125px;
    }
    
    #redes_sociais {
        text-align: center;
        margin: 0;
    }

    #redes_sociais img {
        width: 100px;
        height: 30px; 
    }

    /*  final da estilização da página Sobre_mim */

    .pagina_vazia {
        padding: 60px 25px 25px 25px;
        text-align: center;
    }

    #cta {
        padding: 0 20px 30px 20px;
    }

    .image_box {
        text-align: center;
        margin: 0 auto;
    }

    #minhas_fotos {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #minhas_fotos h2 {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }

    input {
        align-self: center;
    }

    #teclado_apple {
        width: 175px;
        margin: 8px 0;
    }

    #cat_img {
        width: 400px; 
    }

    ul {
        text-align: center;
    }
}