@media screen and (max-width: 970px){

    body{
        padding-bottom: 0;
    }

    header {
        flex-direction: column;
    }

    header li {
        margin: 10px 30px 10px 0px;
    }

    #title {
        text-align: center;
    }

    #inscreva-se-btn {
        padding: 10px;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
    }

    main p {
        text-align: justify;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }

    input {
        align-self: center;
    }

    img {
        width: 175px;
        margin-bottom: 10px;
    }

    ul {
        text-align: center;
    }
}