@media screen and (max-width: 970px){

    body{
        padding: 0;
    }

    header {
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
    }

    header li {
        margin: 10px 30px 10px 0px;
    }

    #title {
        text-align: center;
    }

    #title h1:last-child {
        margin-bottom: 5px;
    }

    #inscreva-se-btn {
        padding: 10px;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 215px;
        padding-bottom: 30px;
    }

    main p {
        text-align: justify;
    }

    .pagina_vazia {
        padding: 60px 25px 25px 25px;
        text-align: center;
    }

    #cta {
        padding: 0 20px;
    }

    #minhas_fotos {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #minhas_fotos h2 {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }

    input {
        align-self: center;
    }

    img {
        width: 175px;
        margin: 8px 0;
    }

    #cat_img {
        width: 400px; 
    }

    ul {
        text-align: center;
    }
}